$cyan: rgba(0, 134, 157, 0.49);
$grey: #9e9e9e;

$num-of-tabs: 4;

@mixin tabs {
  @for $i from 1 through $num-of-tabs {
    &:nth-of-type(#{$i}) {
      &:checked {
        ~ .slide {
          left: calc((100% / #{$num-of-tabs}) * #{$i - 1});
        }
      }
    }
  }
}

.tab-wrap {
  width: 100%;
  //margin-left: 20%;
  margin-top: 1em;
  position: relative;
  display: flex;
  //top: -106px;
}

input[type="radio"][name="tabs"] {
  position: absolute;
  z-index: -1;
  visibility: hidden;
  &:checked {
    + .tab-label-content {
      label {
        color: white;
      }
      .tab-content {
        display: block;
      }
    }
  }
  @include tabs;
  &:first-of-type {
    &:checked {
      ~ .slide {
        left: 0;
      }
    }
  }
}

.tab-wrap {
  label {
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    background-color: $cyan;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 56px;
    transition: color 0.2s ease;
    width: 100%;
  }
}

.slide {
  background: #e4e4e4;
  width: calc(100% / #{$num-of-tabs});
  height: 4px;
  position: absolute;
  left: 0;
  top: calc(100% - 4px);
  transition: left 0.3s ease-out;
}

.tab-label-content {
  width: 100%;
  .tab-content {
    position: absolute;
    top: 100px;
    left: 16px;
    line-height: 130%;
    display: none;
  }
}


.sticky-input {
  background: $cyan;
  width: 100%;
  position: fixed;
  bottom:0;
  padding-top: 1em;
  input {
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .tab-wrap {
    width: 100%;
    //margin-left: 10%;
    //top: -106px;
  }
}


// .row w/o marges

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}